@model Domain.HerbMedicinal

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>HerbMedicinal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HerbId" class="control-label"></label>
                <select asp-for="HerbId" class="form-control" asp-items="ViewBag.HerbId"></select>
                <span asp-validation-for="HerbId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicinalDoseId" class="control-label"></label>
                <select asp-for="MedicinalDoseId" class="form-control" asp-items="ViewBag.MedicinalDoseId"></select>
                <span asp-validation-for="MedicinalDoseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HerbPartId" class="control-label"></label>
                <select asp-for="HerbPartId" class="form-control" asp-items="ViewBag.HerbPartId"></select>
                <span asp-validation-for="HerbPartId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HerbFormId" class="control-label"></label>
                <select asp-for="HerbFormId" class="form-control" asp-items="ViewBag.HerbFormId"></select>
                <span asp-validation-for="HerbFormId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
