@model Domain.CompositionHerb

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CompositionHerb</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HerbId" class="control-label"></label>
                <select asp-for="HerbId" class ="form-control" asp-items="ViewBag.HerbId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CompositionId" class="control-label"></label>
                <select asp-for="CompositionId" class ="form-control" asp-items="ViewBag.CompositionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UnitOfMeasureId" class="control-label"></label>
                <select asp-for="UnitOfMeasureId" class ="form-control" asp-items="ViewBag.UnitOfMeasureId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
